{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Painel com indicadores do Brasil</h1>
    <div class="row">
        
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title mb-0">PIB Trimestral</h3>
                </div>
                <div class="card-body">
                    <canvas id="pibChartFull" class="chart-container" style="width: 100%; height: 400px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title mb-0">Taxa de Desocupação</h3>
                </div>
                <div class="card-body">
                    <canvas id="desocupacaoChartFull" class="chart-container" style="width: 100%; height: 400px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title mb-0">IPCA</h3>
                </div>
                <div class="card-body">
                    <canvas id="IpcaChartFull" class="chart-container" style="width: 100%; height: 400px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title mb-0">SELIC</h3>
                </div>
                <div class="card-body">
                    <canvas id="SelicChartFull" class="chart-container" style="width: 100%; height: 400px;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title mb-0">CAMBIO</h3>
                </div>
                <div class="card-body">
                    <canvas id="CambioChartFull" class="chart-container" style="width: 100%; height: 400px;"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/paineis_charts.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
// Chama a função fetchPIBData com os parâmetros padrão
fetchPIBData();
fetchDesocupacaoData();
fetchIpcaData()
fetchSelicData();
fetchCambioData();
    });
</script>
{% endblock %}